// Font Stacks
$the-mighty-stack: 'Lato', 'Helvetica Neue', Helvetica, Arial, sans-serif;

// Base Colors
$white: #fff; // white
$text-color:#777; // dark grey for readability
$primary-color:#4A90E2; // soft blue
$secondary-color:#50E3C2; // mint green
$link-color:#51ddfc; // bright light blue
$background-color:#F9F9F9; // light grey background
$navlink-bg: #58e1c1; // light turquoise

// Button Colors
$btn-success: #63cc82; // light green
$btn-error: #E4757A; // pastel pink and red
$btn-warning: #FD7856; // pastel orange
$btn-info: #927BC1; // pastel purple

// Theme Column Colors
$column-colors: (
    '1': #80e8d1, // very light turquoise
    '2': #4DA2BB, // dark grey and blue
    '3': #4DA2BB, // baby blue
    '4': #7ee6fd, // baby blue
    '5': #7ee6fd, // baby blue
    '6': #7ee6fd, // baby blue
    '7': #DEB2EE, // light pastel purple
    '8': #DEB2EE, // light pastel purple
    '9': #DEB2EE, // light pastel purple
    '10': #DEB2EE, // light pastel purple
    '11': #88D9A0, // pastel grassy green
    '12': #EC9FA3, // orangey red pastel
    '13': #FD9F85, // light orange
    '14': #7EE6FD, // baby blue
    '15': #EC9FA3, // orangey red pastel
);

// Image Frame Colors
$imgframe-brdr:#CCCCCC; // very light grey

// Media Queries
$breakpoint-sm: 480px;   // Small devices (e.g. phones)
$breakpoint-md: 768px;   // Medium devices (e.g. tablets)
$breakpoint-lg: 1024px;  // Large devices (e.g. small laptops)
$breakpoint-xl: 1200px;  // Extra-large devices (e.g. desktops, widescreens)