.btn {
  margin-top: 15px;
  width: 100%;
  color: $white; // used white to make font stand out against button color
  border: none;
  padding: $w 0;
  text-transform: uppercase; // makes all text uppercase
  border-radius: 5px;
}

.btn-default {
  background-color: $link-color; // bright light blue
}

.btn-success {
  background-color: $btn-success; // light green
}

.btn-error {
  background-color: $btn-error; // pastel pink/red
}

.btn-warning {
  background-color: $btn-warning; // pastel orange
}

.btn-info {
  background-color: $btn-info; // pastel purple
}