.form-element {
  border: none;
}

.form {
  flex-basis: 100%; // takes up full width of flex container
}

.input{
  display: block;
  width: 94%;
  margin: $w auto 0;
  border: none; // no border for input gives a modern style
  padding: $w;
  border-bottom: 5px solid $light-tq; 
}

.hidden { // visually hides element, keeps it accessible to screen readers
  position:absolute;
  left:-10000px;
  top:auto;
  width:1px;
  height:1px;
  overflow:hidden;
}

button,
input,
optgroup,
select,
textarea {
    font-family: inherit;
    font-size: 100%;
    line-height: 1.15;
    margin: 0;
}