.container {
  padding: 0 $w;
}

.row {
  display: flex;
  flex-direction: column;
  padding: 1em $w;
}

[class^=col] {
  margin-top: $w;
  flex-basis: 100%;
  min-height: 25px;
  padding: $w;
  border-radius: 5px;
}

@each $column, $color in $column-colors {
    .theme.col-#{$column} {
        background-color: $color;
    }
}

.card {
  flex-basis: 100%;
}