.container {
  padding: 0 $w;
}

.row {
  display: flex;
  flex-direction: column;
  padding: 1em 10px;
}

[class^=col] {
  margin-top: $w;
  flex-basis: 100%;
  min-height: 25px;
  padding: $w;
  border-radius: 5px;
}

@each $key, $color in $column-colors {
  .col-#{$key} {
    background-color: $color;
  }
}

.card {
  flex-basis: 100%;
}