@media (min-width: $md) {
.container {
  max-width: 1400px;
  display: block;
  margin-left: auto;
  margin-right: auto;
}

.row, .c-row {
  flex-direction: row;
}

.c-row {
  display: flex;
  padding: 1em $w;
}

.c-header {
  flex-basis: 25%;
}

.c-nav {
  flex-basis: 75%;
}

.centered {
  display: block;
  margin-left: auto;
  margin-right: auto;
}

.nav {
flex-direction: row;
justify-content: flex-end;
align-items: center;
}

.nav-link {
flex-basis: 100px;
}

[class^=col] {
  display: flex;
  justify-content: center;
  margin-top: 0;
  align-items: center;
}

[class^=col] + [class^=col] {
  margin-left: $w;
}

.col-1 {
  flex-basis: 100%;
}

.col-2 {
  flex-basis: 50%;
}

.col-3 {
  flex-basis: 50%;
}

.col-4 {
  flex-basis: 33.33%;
}

.col-5 {
  flex-basis: 33.33%;
}

.col-6 {
  flex-basis: 50%;
}

.col-7 {
  flex-basis: 25.00%;
}

.col-8 {
  flex-basis: 66.67%;
}

.col-9 {
  flex-basis: 25.00%;
}

.col-10 {
  flex-basis: 25.00%;
}

.col-11 {
  flex-basis: 41.67%;
}

.col-12 {
  flex-basis: 100%;
}

.col-13 {
  flex-basis: 66.67%;
}

.col-14 {
  flex-basis: 33.33%;
}

.col-15 {
  flex-basis: 58.33%;
}

.btn {
  padding: $w 30px;
}

.btn + .btn {
  margin-left: $w;
}

.logo {
  margin-left: initial;
  margin-right: initial;
}

}