.nav {
  margin-top: $w;
}

.c-nav {
  padding-left: 0;
  flex-basis: 100%;
  display: flex;
  flex-direction: column;
}

.nav-link {
  text-align: center;
  border-radius: 5px;
  padding: $w 0;
  display: block;
  width: 100%;
  transition: background-color .2s ease-in-out;
   &:hover {
      color: $white; // makes font white when hovered over
      background-color: lighten($primary-color, 5%); // turns button into turquoise when hovered over
  }
}