* {
    font-family:$the-mighty-stack;
    color:$text-color; // dark grey for readability
    box-sizing:border-box
}

p {
    line-height:1.45em
}

a {
    color: $link-color;
    text-decoration:none
} 

.headline-primary {
    color:$primary-color; // soft blue
    margin-left:10px
}

.headline-secondary {
    font-weight:300;
    color:$secondary-color // mint green
}

.link {
    color:accent-color; // warm amber
    font-weight:700
}

.blockquote {
    font-size:1.5em;
    font-weight:300;
    font-style:italic;
    margin-left:20px;
    padding-left:20px;
    border-left:8px solid #58e1c1;
    border-radius:5px
}